
   body{ 
    font-family: Arial, Helvetica, 'Roboto';
    font-size: 12pt !important;
    background-color: #fffda4!important;
   }
h1 {
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 15px;
    color: #751125;
    border-bottom: 20px solid black;
    font-family: 'Roboto', sans-serif;
    text-shadow: 6px 2px 5px rgba(0, 0, 0, 0.7);
    }
.logoObrazek {
    width: 100px;
    height: 100px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 5px solid black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    padding-right: 10px;
}

 .jedna{
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 1px !important;
    color: black;
    font-size:30px;
    font-weight: 1000;
}
.jednajedna{
    padding-top: 1px;
    padding-left: 60px;
    padding-bottom: 1px !important;
    color: black;
    font-size:30px;
    font-weight: 1000;
}
.dva{
    padding-top: 100px;
    padding-left: 70px;
    color: black;
    padding-bottom: 1px;
    font-size:30px  ;
    font-weight: 1000;
}

.tri{
    padding-top: 1px;
    padding-left: 60px;
    color: black;
    padding-bottom: 5px;
}
.trijedna{
    padding-top: 1px;
    padding-left: 70px;
    color: black;
    padding-bottom: 5px;
}
#pet
{
    padding-top: 50px;
    padding-left: 60px;
    color: black;
}
#sest
{
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 50px;
    color: black;
}
 b 
 {
    padding-left: 60px;
    color: black;
    padding-bottom: 50px;
 }
#submit
{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}
#tlacitko
{
    margin-left: 60px;
    margin-bottom: 50px;
}
#prenos
{
padding-left: 60px;
}

.moznosti
{
margin-bottom: 0px;
padding-bottom: 100px;

}

.grey
{
padding-bottom: 100px;
padding-top: 5px;
margin-top: 100px;

}
